@media (max-width: 575px) {

  [class*="col-"] {
      margin-bottom: 5px;
  }

  .table-position{
    margin-top: 0px;
    background-color: #212529;
    margin-bottom: 5px;
  }

  .search-align-left{
    text-align: center !important;
  }

  .search-align-right{
    text-align: center !important;
  }

}

.w-15{
  width:15% !important;
}

.w-40{
  width:40% !important;
}

.search-align-left{
  text-align: left;
}

.search-align-right{
  text-align: right;
}

strong{
  text-shadow: 1px 1px 2px black, 0 0 1px white, 0 0 4px white;
}

.background{
  background-image: url("/assets/background.jpg");
  color: white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: calc(100vh - 56px);
}

.page-layout{
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

.table-width{
  min-width: 800px;
}

.table-title{
  font-size: 40px;
  font-weight: bold;
}

.table-position{
  margin-top: 7px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #212529;
}

.table-header{
  cursor: pointer;
}

.search-bar{
  float:right;
}

.custom-input{
  border: 1px solid #ced4da;
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-input:focus{
  border-color: #80bdff;
  box-shadow: none;
}

.form-display-inline{
  display:inline;
}

.dropdown-cursor{
  cursor: pointer;
}

a.dropdown-cursor:hover{
  background-color:#007bff;
}

a.app-name{
  color: white;
}
a.app-name:visited{
  color: white;
}
a.app-name:link {
  color: white;
}
a.app-name:hover {
  color: white;
}
a.app-name:active {
  color: white;
}

a.more-info:hover span.no-display {
  display: none;
}
a.more-info:hover:before {
  content: "More Info";
}

a.visit-store:hover span.no-display {
  display: none;
}
a.visit-store:hover:before {
  content: "Visit Steam Store";
}

a.page {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #202328;
  color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #888b91;
  cursor: pointer;
}
a.page:visited{
  color: white;
}
a.page:link {
  color: white;
}
a.page:hover {
  background-color: black;
  color: white;
}
a.page:active {
  color: white;
}

.page-buttons{
  display:flex;
}

.page-number{
  text-align: center;
  width: 60px;
  margin-left: 5px;
  margin-right: 3px;
}

.page-right{
  margin-right: 5px;
}
