@media (max-width: 575px) {

  [class*="col-"] {
      margin-bottom: 5px;
  }

  .table-position{
    margin-top: 0px;
    background-color: #212529;
    margin-bottom: 5px;
  }

  .search-align-left{
    text-align: center !important;
  }

  .search-align-right{
    text-align: center !important;
  }

}

.w-15{
  width:15% !important;
}

.w-40{
  width:40% !important;
}

.search-align-left{
  text-align: left;
}

.search-align-right{
  text-align: right;
}

strong{
  text-shadow: 1px 1px 2px black, 0 0 1px white, 0 0 4px white;
}

.background{
}

.page-layout{
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

.table-width{
  min-width: 800px;
}

.table-title{
  font-size: 40px;
  font-weight: bold;
}

.table-position{
  margin-top: 7px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #212529;
}

.table-header{
  cursor: pointer;
}

.search-bar{
  float:right;
}

.custom-input{
  border: 1px solid #ced4da;
  border-radius: .25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-input:focus{
  border-color: #80bdff;
  box-shadow: none;
}

.form-display-inline{
  display:inline;
}

.dropdown-cursor{
  cursor: pointer;
}

a.dropdown-cursor:hover{
  background-color:#007bff;
}

a.app-name{
  color: white;
}
a.app-name:visited{
  color: white;
}
a.app-name:link {
  color: white;
}
a.app-name:hover {
  color: white;
}
a.app-name:active {
  color: white;
}

a.more-info:hover span.no-display {
  display: none;
}
a.more-info:hover:before {
  content: "More Info";
}

a.visit-store:hover span.no-display {
  display: none;
}
a.visit-store:hover:before {
  content: "Visit Steam Store";
}

a.page {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #202328;
  color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #888b91;
  cursor: pointer;
}
a.page:visited{
  color: white;
}
a.page:link {
  color: white;
}
a.page:hover {
  background-color: black;
  color: white;
}
a.page:active {
  color: white;
}

.page-buttons{
  display:flex;
}

.page-number{
  text-align: center;
  width: 60px;
  margin-left: 5px;
  margin-right: 3px;
}

.page-right{
  margin-right: 5px;
}

.loader-container{overflow:hidden}.loader{color:#fff;font-size:50px;text-indent:-9999em;overflow:hidden;width:1em;height:1em;border-radius:50%;margin:72px auto;position:relative;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation:load6 1.7s infinite ease,round 1.7s infinite ease;animation:load6 1.7s infinite ease,round 1.7s infinite ease}@-webkit-keyframes load6{0%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}5%,95%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}10%,59%{box-shadow:0 -.83em 0 -0.4em,-.087em -.825em 0 -0.42em,-.173em -.812em 0 -0.44em,-.256em -.789em 0 -0.46em,-.297em -.775em 0 -.477em}20%{box-shadow:0 -.83em 0 -0.4em,-.338em -.758em 0 -0.42em,-.555em -.617em 0 -0.44em,-.671em -.488em 0 -0.46em,-.749em -.34em 0 -.477em}38%{box-shadow:0 -.83em 0 -0.4em,-.377em -.74em 0 -0.42em,-.645em -.522em 0 -0.44em,-.775em -.297em 0 -0.46em,-.82em -.09em 0 -.477em}100%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}}@keyframes load6{0%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}5%,95%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}10%,59%{box-shadow:0 -.83em 0 -0.4em,-.087em -.825em 0 -0.42em,-.173em -.812em 0 -0.44em,-.256em -.789em 0 -0.46em,-.297em -.775em 0 -.477em}20%{box-shadow:0 -.83em 0 -0.4em,-.338em -.758em 0 -0.42em,-.555em -.617em 0 -0.44em,-.671em -.488em 0 -0.46em,-.749em -.34em 0 -.477em}38%{box-shadow:0 -.83em 0 -0.4em,-.377em -.74em 0 -0.42em,-.645em -.522em 0 -0.44em,-.775em -.297em 0 -0.46em,-.82em -.09em 0 -.477em}100%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}}@-webkit-keyframes round{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes round{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
