@media (max-width: 576px) {

  .mobile-margin-top{
    margin-top: 15px;
  }

}

@media (min-width: 992px) {

  .general-row{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.profile{
  text-decoration: none;
  width: 190px;
  margin-top: 10px;
}

.profile-picture{
  text-decoration: none;
  width: 190px;
  height: 190px;
}

.profile-name{
  font-size: 25px;
  font-weight: bold;
}

.profile-title{
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: #8e9196;
}

.profile-text-item{
  margin-top: 5px;
}

.profile_link{
  text-align: left;
}

a.profile_link:link{
  color:   white;
}
a.profile_link:visited{
   color:   white;
   text-decoration: none;
}
a.profile_link:hover{
  font-weight: bold;
  color: white;
}
a.profile_link:active{
  color: white;
}

.profile-item{
  margin-top:15px;
}

.status-text{
  font-size: 10px;
}

.status-circle{
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: green;
  display: inline-block;
}

.user-summary-row{
  margin-top: 20px;
}

.userSummary-min-width{
  min-width: 800px;
}

.userSummary-text{
  height:185px;
  width: 260px;
  padding: 6px;
  background-color: #202328;
  border-radius: 10px;
  color: white;
  overflow-wrap: break-word;
  margin-left: 5px;
}


.userSummary-image{
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(255,255,255,.2),0 6px 20px 0 rgba(255,255,255,.3)
}

.tab-title{
  font-size: 35px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000,0 0 1px #fff,0 0 4px #fff;
  border-bottom: white;
  border-bottom-style: solid;
  padding-bottom: 15px;
}

.general-info-text{
  font-size: 25px;
  font-weight: 700;
  text-shadow: 0 0 3px lightblue;
}

.user-stats{
  display:inline-block;
  overflow: hidden;
}

.userStat-container{
  background-color: #202328;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  min-height: 150px;
  color: white;
  display:inline-block;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.tabs{
  display:inline-block;
  width:inherit;
}

.rounded-most-played-game-icon{
  vertical-align: middle;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
}

.userStat-row{
  margin-top:10px;
}

.userStat-item{
  padding-top: 5px;
  padding-bottom: 5px;
}

.friend-row{
  margin-top: 20px;
}

a.friend-link:link{
  color:   white;
}
a.friend-link:visited{
   color:   white;
   text-decoration: none;
}
a.friend-link:hover{
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
a.friend-link:active{
  color:   white;
}

a.selected-tab {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  margin-right: 5px;
}
a.selected-tab:visited{
  color: black;
}
a.selected-tab:link {
  color: black;
}
a.selected-tab:hover {
  box-shadow: none;
  color: black;
}
a.selected-tab:active {
  color: black;
}

a.not-selected-tab {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #202328;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  margin-right: 5px;
}
a.not-selected-tab:visited{
  color: white;
}
a.not-selected-tab:link {
  color: white;
}
a.not-selected-tab:hover {
  background-color: black;
  box-shadow: none;
  color: white;
}
a.not-selected-tab:active {
  color: white;
}

.game-row{
  margin-top: 35px;
}

.game-image {
  min-width: 188px; min-height: 73px;
  position: relative;
  max-width: 188px; max-height: 73px;
  margin:auto;
}

.ribbon-1 {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 69px; height: 70px;
  text-align: right;
}
.ribbon-1 span {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 79px;
  display: block;
  background: gold;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 13px; right: -16px;
  text-shadow: 0 0 10px black;
}
.ribbon-1 span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid gold;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid gold;
}
.ribbon-1 span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid gold;
  border-bottom: 3px solid transparent;
  border-top: 3px solid gold;
}

.ribbon-2 {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 69px; height: 70px;
  text-align: right;
}
.ribbon-2 span {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 79px;
  display: block;
  background: silver;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 13px; right: -16px;
  text-shadow: 0 0 10px black;
}
.ribbon-2 span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid silver;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid silver;
}
.ribbon-2 span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid silver;
  border-bottom: 3px solid transparent;
  border-top: 3px solid silver;
}

.ribbon-3 {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 69px; height: 70px;
  text-align: right;
}
.ribbon-3 span {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 79px;
  display: block;
  background: #cd7f32;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 13px; right: -16px;
  text-shadow: 0 0 10px black;
}
.ribbon-3 span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #cd7f32;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #cd7f32;
}
.ribbon-3 span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #cd7f32;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #cd7f32;
}

.game-name{
  font-size:20px;
  font-weight: bolder;
}

.game-hours-1{
  font-size:20px;
  font-weight: bolder;
  color:gold;
}
.game-hours-2{
  font-size:20px;
  font-weight: bolder;
  color:silver;
}
.game-hours-3{
  font-size:20px;
  font-weight: bolder;
  color:#cd7f32;
}

.stats-text{
  text-align: center;
  font-size: 20px;
}

.stats-row{
  margin-top:10px;
  text-align:center;
}

.friends-image{
  border-style: solid;
  border-radius: 100px;
}

.friends-avatar{
  display: inline-block;
}

.friends-row{
  margin-top: 15px;
}

.friends-text{
  font-size: 20px;
  font-weight: bolder;
}
.friends-number-one{
  font-size: 80px;
  font-weight: bolder;
  color:gold;
  display: inline-block;
  vertical-align: bottom;
}

.friends-number-two{
  font-size: 60px;
  font-weight: bolder;
  color:silver;
  display: inline-block;
  vertical-align: bottom;
}

.friends-number-three{
  font-size: 40px;
  font-weight: bolder;
  color:#cd7f32;
  display: inline-block;
  vertical-align: bottom;
}

.friends-name{
  display:block;
}

.Online{background-color:green}
.Offline{background-color:gray}
.Busy{background-color:red}
.Away{background-color:yellow}
.Snooze{background-color:orange}

.loader-container{overflow:hidden}.loader{color:#fff;font-size:50px;text-indent:-9999em;overflow:hidden;width:1em;height:1em;border-radius:50%;margin:72px auto;position:relative;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation:load6 1.7s infinite ease,round 1.7s infinite ease;animation:load6 1.7s infinite ease,round 1.7s infinite ease}@-webkit-keyframes load6{0%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}5%,95%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}10%,59%{box-shadow:0 -.83em 0 -0.4em,-.087em -.825em 0 -0.42em,-.173em -.812em 0 -0.44em,-.256em -.789em 0 -0.46em,-.297em -.775em 0 -.477em}20%{box-shadow:0 -.83em 0 -0.4em,-.338em -.758em 0 -0.42em,-.555em -.617em 0 -0.44em,-.671em -.488em 0 -0.46em,-.749em -.34em 0 -.477em}38%{box-shadow:0 -.83em 0 -0.4em,-.377em -.74em 0 -0.42em,-.645em -.522em 0 -0.44em,-.775em -.297em 0 -0.46em,-.82em -.09em 0 -.477em}100%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}}@keyframes load6{0%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}5%,95%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}10%,59%{box-shadow:0 -.83em 0 -0.4em,-.087em -.825em 0 -0.42em,-.173em -.812em 0 -0.44em,-.256em -.789em 0 -0.46em,-.297em -.775em 0 -.477em}20%{box-shadow:0 -.83em 0 -0.4em,-.338em -.758em 0 -0.42em,-.555em -.617em 0 -0.44em,-.671em -.488em 0 -0.46em,-.749em -.34em 0 -.477em}38%{box-shadow:0 -.83em 0 -0.4em,-.377em -.74em 0 -0.42em,-.645em -.522em 0 -0.44em,-.775em -.297em 0 -0.46em,-.82em -.09em 0 -.477em}100%{box-shadow:0 -.83em 0 -0.4em,0 -.83em 0 -0.42em,0 -.83em 0 -0.44em,0 -.83em 0 -0.46em,0 -.83em 0 -.477em}}@-webkit-keyframes round{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes round{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

.pie,.bar{width:50%;height:100%;margin:auto;}
#inline{width:100%;height:auto;display:block;}
