<div class="row justify-content-center">
  <div *ngIf="empty_search" class="user-summary-row col-sm-5 userStat-container">
    please enter something
  </div>
  <div *ngIf="error" class="user-summary-row col-sm-5 userStat-container">
    {{error}}
  </div>

  <div class="col-12 loader-container" *ngIf="!userSummary && searching && !error">
    <div class="loader">
    </div>
  </div>

  <div class="col-md-12" *ngIf="userSummary && userSummary_response">
    <div class="row user-summary-row justify-content-center">
      <div class="profile-picture" [@dropdown]="'in'">
            <a href="{{userSummary.profile_url}}" target="_blank">
                <img class="userSummary-image" src="{{userSummary.avatar}}">
            </a>
        </div>
        <div class="userSummary-text mobile-margin-top">
          <div class="profile-title">
            <span class="profile-name">{{userSummary.display_name}}</span>
            <div>
              <span class="status-circle" [ngClass]="userSummary.status">
              </span>
              <span class=""> Currently </span>
              <span *ngIf="privateUserSummary && privateUserSummary.game_extra_info; else elseBlock"> playing {{privateUserSummary.game_extra_info}}</span>
              <ng-template #elseBlock>{{userSummary.status}}</ng-template>
            </div>
          </div>
          <div class="profile-item">
            <div class="profile-text-item">
              Steam64ID : {{userSummary.steam64_id}}
            </div>
            <div class= "profile-text-item">
              <a class="profile_link" href="{{userSummary.profile_url}}" target="_blank">View Steam Profile
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


<div class="row justify-content-center user-summary-row" *ngIf="userStats || (userStats_response==false && userSummary)">
    <nav class="col-sm-5">
      <a [ngClass]="{'selected-tab': currentTab==0, 'not-selected-tab': currentTab!=0}" (click)="showTab(0)">General</a>
      <a [ngClass]="{'selected-tab': currentTab==1, 'not-selected-tab': currentTab!=1}" (click)="showTab(1)">Games</a>
      <a [ngClass]="{'selected-tab': currentTab==2, 'not-selected-tab': currentTab!=2}" (click)="showTab(2)">Friends</a>
    </nav>
</div>

<div class="row justify-content-center" *ngIf="userStats">
  <div class="col-sm-5 user-stats userStat-container" *ngIf="userStats">
    <div class="tabs" *ngIf="currentTab==0" [@generalTab] = "currentTab==0 ? 'active':'inactive'">
      <div class="tab-title">
        General Information
      </div>
      <div class="row general-row">
        <div *ngIf="privateUserSummary" class="userStat-item col-lg-4">

          <div class="general-info-text">{{convertUnixTime(privateUserSummary.time_created)}}</div>

          <div>Account created</div>

        </div>
        <div class= "userStat-item col-lg-4">

          <div class="general-info-text">{{userStats.playtime_hr | number}} hours</div>

          <div>Total play time</div>

        </div>
        <div class="userStat-item col-lg-4">

          <div class="general-info-text">{{userStats.playtime_2week_hr | number}} hours</div>

          <div>Play time past 2 weeks</div>

        </div>
      </div>
      <div class="row general-row">
        <div class="userStat-item col-12">

          <span class="general-info-text">{{userStats.total_games - userStats.unplayed_games | number}} played games</span>
          out of
          <span class="general-info-text">{{userStats.total_games | number}} owned games</span>

        </div>
      </div>
    </div>

    <div class="tabs" *ngIf="currentTab==1" [@gameTab] = "currentTab==1 ? 'active':'inactive'">
      <div class="tab-title">
        Most Played Games
      </div>
      <div class="row game-row" *ngIf="topGames[0]">
        <div class="col-12 text-center">
          <div class="game-image">
            <a [routerLink]="['/gamestats', topGames[0].most_played_game_appid]">
              <img class="rounded-most-played-game-icon" src="{{topGames[0].most_played_game_logo}}">
              <div class="ribbon-1"><span>#1</span></div>
            </a>
          </div>
          <div class="game-name">
            <a [routerLink]="['/gamestats', topGames[0].most_played_game_appid]" class="profile_link">
              {{topGames[0].most_played_game_name}}
            </a>
          </div>
          <div class="game-hours-1">
            {{topGames[0].most_played_game_time_hr | number }} hours
          </div>
        </div>
      </div>
      <div class="row game-row" *ngIf="topGames[1]">
        <div class="col-12 text-center">
          <div class="game-image">
            <a [routerLink]="['/gamestats', topGames[1].most_played_game_appid]">
              <img class="rounded-most-played-game-icon" src="{{topGames[1].most_played_game_logo}}">
              <div class="ribbon-2"><span>#2</span></div>
            </a>
          </div>
          <div class="game-name">
            <a [routerLink]="['/gamestats', topGames[1].most_played_game_appid]" class="profile_link">
              {{topGames[1].most_played_game_name}}
            </a>
          </div>
          <div class="game-hours-2">
            {{topGames[1].most_played_game_time_hr | number}} hours
          </div>
        </div>
      </div>
      <div class="row game-row" *ngIf="topGames[2]">
        <div class="col-12 text-center">
          <div class="game-image">
            <a [routerLink]="['/gamestats', topGames[2].most_played_game_appid]">
              <img class="rounded-most-played-game-icon" src="{{topGames[2].most_played_game_logo}}">
              <div class="ribbon-3"><span>#3</span></div>
            </a>
          </div>
          <div class="game-name">
            <a [routerLink]="['/gamestats', topGames[2].most_played_game_appid]" class="profile_link">
              {{topGames[2].most_played_game_name}}
            </a>
          </div>
          <div class="game-hours-3">
            {{topGames[2].most_played_game_time_hr | number}} hours
          </div>
        </div>
      </div>
    </div>

    <div class="tabs" *ngIf="currentTab==2 && friends_info.length!=0"  [@friendTab] = "currentTab==2 ? 'active':'inactive'">
      <div class="tab-title">
        Oldest Friends
      </div>
      <div class="row friends-row" *ngIf="friends[0] && friends_info[0]">
        <div class="col-12">
          <span class="friends-avatar"><a class="friend-link" (click)="search(friends_info[0].steam64_id)"><img class="friends-image" src="{{friends_info[0].avatar}}"><span class="friends-name">{{friends_info[0].display_name}}</span></a></span>
          <div class="friends-text">
            Friends since {{convertUnixTime(friends[0].friend_since)}}
          </div>
        </div>
      </div>
      <div class="row friends-row" *ngIf="friends[1] && friends_info[1]">
        <div class="col-lg-6">
          <span class="friends-avatar"><a class="friend-link" (click)="search(friends_info[1].steam64_id)"><img class="friends-image" src="{{friends_info[1].avatar}}"><span class="friends-name">{{friends_info[1].display_name}}</span></a></span>
          <div class="friends-text">
            Friends since {{convertUnixTime(friends[1].friend_since)}}
          </div>
        </div>
        <div class="col-lg-6" *ngIf="friends[2] && friends_info[2]">
          <span class="friends-avatar"><a class="friend-link" (click)="search(friends_info[2].steam64_id)"><img class="friends-image" src="{{friends_info[2].avatar}}"><span class="friends-name">{{friends_info[2].display_name}}</span></a></span>
          <div class="friends-text">
            Friends since {{convertUnixTime(friends[2].friend_since)}}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentTab==2 && friend_error">
      {{friend_error}}
    </div>
  </div>
</div>

<div class="row justify-content-center" *ngIf="userStats_response==false && userSummary" [@switchTab] = "currentTab">
  <div class="col-sm-5 userStat-container">
    cant get game stats, make sure your profile is public
  </div>
</div>

<div class= "d-none d-lg-block" id="inline" *ngIf="gameStats && currentTab==1 && userStats">
  <div class="pie"><p-chart type="pie" [data]="gameStats" ></p-chart></div>
  <div class="bar"><p-chart type="bar" [data]="gameStats" ></p-chart></div>
</div>
<div class= "d-block d-lg-none stats-row" id="inline" *ngIf="gameStats && currentTab==1 && userStats">
  <span class="stats-text">More Stats available on desktop</span>
</div>
