@media (max-width: 576px) {

  .mobile-margin-top{
    margin-top: 15px;
  }

}

.profile{
  text-decoration: none;
  width: 190px;
  margin-top: 10px;
}

.profile-picture{
  text-decoration: none;
  width: 190px;
  height: 190px;
}

.profile-name{
  font-size: 25px;
  font-weight: bold;
}

.profile-title{
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: #8e9196;
}

.profile-text-item{
  margin-top: 5px;
}

.profile_link{
  text-align: left;
}

a.profile_link:link{
  color:   white;
}
a.profile_link:visited{
   color:   white;
   text-decoration: none;
}
a.profile_link:hover{
  font-weight: bold;
  color: white;
}
a.profile_link:active{
  color: white;
}

.profile-item{
  margin-top:15px;
}

.status-text{
  font-size: 10px;
}

.status-circle{
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: green;
  display: inline-block;
}

.user-summary-row{
  margin-top: 20px;
}

.userSummary-min-width{
  min-width: 800px;
}

.userSummary-text{
  height:185px;
  width: 260px;
  padding: 6px;
  background-color: #202328;
  border-radius: 10px;
  color: white;
  overflow-wrap: break-word;
  margin-left: 5px;
}


.userSummary-image{
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(255,255,255,.2),0 6px 20px 0 rgba(255,255,255,.3)
}

.tab-title{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: #8e9196;
}

.user-stats{
  display:inline-block;
  overflow: hidden;
}

.userStat-container{
  background-color: #202328;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  min-height: 150px;
  color: white;
  display:inline-block;
  margin-top: 5px;
}

.tabs{
  display:inline-block;
  width:inherit;
}

.rounded-most-played-game-icon{
  vertical-align: middle;
  width:32px;
  height:32px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
  border-width: 2px;
}

.userStat-row{
  margin-top:10px;
}

.userStat-item{
  padding-top: 5px;
  padding-bottom: 5px;
}

.friend-row{
  margin-top: 20px;
}

a.friend-link:link{
  color:   white;
}
a.friend-link:visited{
   color:   white;
   text-decoration: none;
}
a.friend-link:hover{
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
a.friend-link:active{
  color:   white;
}

a.selected-tab {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  margin-right: 5px;
}
a.selected-tab:visited{
  color: black;
}
a.selected-tab:link {
  color: black;
}
a.selected-tab:hover {
  box-shadow: none;
  color: black;
}
a.selected-tab:active {
  color: black;
}

a.not-selected-tab {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #202328;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  margin-right: 5px;
}
a.not-selected-tab:visited{
  color: white;
}
a.not-selected-tab:link {
  color: white;
}
a.not-selected-tab:hover {
  background-color: black;
  box-shadow: none;
  color: white;
}
a.not-selected-tab:active {
  color: white;
}

.Online{background-color:green}
.Offline{background-color:gray}
.Busy{background-color:red}
.Away{background-color:yellow}
.Snooze{background-color:orange}

.pie,.bar{width:50%;height:100%;margin:auto;}
#inline{width:100%;height:auto;display:block;}
