.gap{
  margin-left: 20px;
}

.navbar-image{
  max-height: 100%;
  width: auto;
}

.center-text{
  text-align: center;
}

.container{
  wdith:50%;
  margin: auto;
}

.avatar-small{
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.dropdown-cursor{
  cursor: pointer;
}
