.gap{
  margin-left: 20px;
}

.navbar-image{
  max-height: 100%;
  width: auto;
}

.navbar{
  height:60px;
  background-color: #1e2023;
  min-width: 400px;
}

.navbar-element{
  padding: 15px;
}

.navbar-text{
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.center-text{
  text-align: center;
}

.container{
  wdith:50%;
  margin: auto;
}
