<nav class="navbar">
 <div class="container-fluid">
   <div class="navbar-header">
     <a href="#" class="navbar-brand">Steam Check</a>
   </div>
   <ul class="nav navbar-nav">
   </ul>
   <ul class="nav navbar-nav navbar-right">
     <li>
       <!--
       <a (click)="login()">
         <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" alt="HTML5" class="navbar-image"/>

       </a>
     -->
     </li>
   </ul>
 </div>
</nav>

<h1 class="center-text">
  {{ title }}!
</h1>
<app-config></app-config>
