<div class="FAQ-container container-fluid">
  <div class="FAQ-title">
    Frequently Asked Questions
  </div>

  <div *ngFor="let question of listOfQuestions" class="row justify-content-center">
    <div class="col-sm-5 text-left">
      <div class="FAQ-question" (click) = "question.showDiv = !question.showDiv">
        <span class="question-icon" *ngIf="!question.showDiv"><i class="fa fa-angle-right question-icon-width"></i></span>
        <span class="question-icon" *ngIf="question.showDiv"><i class="fa fa-angle-down question-icon-width"></i></span>
        {{question.question}}
      </div>
      <div class="answer-container" *ngIf="question.showDiv" [innerHTML] = "question.answer"></div>
    </div>
  </div>
</div>
