<div class="FAQ-container">
  <div class="FAQ-title">
  Frequently asked questions
  </div>
  <div class="FAQ-question">
  1. Why can't I see my stats?
  </div>
  <div>
  A: Make sure your steam profile is public and game details is also public in <a href="https://steamcommunity.com/my/edit/settings" target="_blank">Steam Settings</a>
  </div>
  <div class="FAQ-question">
  2. Why are some games not showing in game stats?
  </div>
  <div>
  A: Game stats will only show games that has current player stats, in other words steam has no player statistics for that particular game.
  </div>
</div>
