<div class="table-title">
  List of Steam games
</div>

<div *ngIf="!data" class="table center-text">
  currently loading data
</div>

<div class="row table">
  <div class="dropdown col-md" *ngIf="data">
    displaying
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{pageSize}}
    </button>
    entries per page
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item dropdown-cursor" (click)="newPageSize(10)">10</a>
      <a class="dropdown-item dropdown-cursor" (click)="newPageSize(25)">25</a>
      <a class="dropdown-item dropdown-cursor" (click)="newPageSize(50)">50</a>
      <a class="dropdown-item dropdown-cursor" (click)="newPageSize(100)">100</a>
    </div>
  </div>

  <form class="form-inline float-md-right" *ngIf="data">
    <label for="search" class="page-right">Search Game</label>
    <input type="text" (input)="searchGameList($event.target.value)">
  </form>
</div>

<table class="table table-dark" *ngIf="data">
  <thead>
    <tr class="d-flex">
      <th scope="col" class="col-sm-1 center-text">#</th>
      <th scope="col" class="col-sm-1 center-text"><a class="table-header" (click)="sortAppid(appidSortOrder)">Appid
        <span *ngIf="appidSortOrder==1; else appidSortOrders">▲</span>
        <ng-template #appidSortOrders>▼</ng-template>
      </a></th>
      <th scope="col" class="col-sm-6 center-text"><a class="table-header" (click)="sortName(nameSortOrder)">Name
        <span *ngIf="nameSortOrder==1; else nameSortOrders">▲</span>
        <ng-template #nameSortOrders>▼</ng-template>
      </a></th>
      <th scope="col" class="col-sm-2 center-text"><a class="table-header" (click)="sortPlayerCount(playerCountSortOrder)">Current Players
        <span *ngIf="playerCountSortOrder==1; else playerCountSortOrders">▲</span>
        <ng-template #playerCountSortOrders>▼</ng-template>
      </a></th>
      <th scope="col" class="col-sm-2 center-text"><a class="table-header" (click)="sortMaxPlayerCount(maxPlayerCountSortOrder)">Peak
        <span *ngIf="maxPlayerCountSortOrder==1; else maxPlayerCountSortOrders">▲</span>
        <ng-template #maxPlayerCountSortOrders>▼</ng-template>
      </a></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let game of displayGameList; let i=index" class="d-flex">
      <th scope="row" class="col-sm-1 center-text">{{(currentPage-1)*pageSize+i+1 | number}}</th>
      <td class="col-sm-1 center-text">{{game.appid}}</td>
      <td class="col-sm-6 center-text">
        <a href="http://store.steampowered.com/app/{{game.appid}}" target="_blank" class="app-name">
          {{game.name}}
        </a>
      </td>
      <td class="col-sm-2 center-text">
        <span *ngIf="game.player_count">
          {{game.player_count[game.player_count.length-1].player_count | number}}
        </span>
        <span *ngIf="!game.player_count">
          none
        </span>
      </td>
      <td class="col-sm-2 center-text">
        <span *ngIf="game.max_player_count">
          {{game.max_player_count | number}}
        </span>
        <span *ngIf="!game.max_player_count">
          none
        </span>
      </td>
    </tr>
  </tbody>
</table>

<div class="page-button row" *ngIf="data">
  <div class="col-md-8">
    <form class="form-inline" (ngSubmit)="setPage(page.value); page.value='';">
      <a class="page" (click)="setPage(1)">first</a>
      <a class="page" (click)="previousPage()">previous</a>
      <input type="text" class="form-control page-number page-left" id="page" #page placeholder="{{currentPage}}">
      <label for="page" class="page-right">of {{lastPage}}</label>
      <a class="page" (click)="nextPage()">next</a>
      <a class="page" (click)="setPage(lastPage)">last</a>
    </form>
  </div>
  <div class="col-md-4">
    <span class="page-seperate float-md-right">showing {{beginResult}} - {{endResult}} of {{totalGames}} entries</span>
  </div>
</div>
