<div class="center-text d-none d-sm-block">
  <div class= "contents">
    <div [@title]="'in'" class="inner">
      <strong>{{ title }}</strong>
    </div>
  </div>
</div>

<div class="center-text d-block d-sm-none">
  <div class= "">
    <div class="inner">
      <strong>{{ title }}</strong>
    </div>
  </div>
</div>

<div class="row searchRow justify-content-center">
  <div class="col-xs-12">
    <div class="row justify-content-center">
      <form class="form-inline" (ngSubmit)="searchCustom(customUrl.value); customUrl.value='';" #customUrlForm="ngForm">
        <div class="form-group mx-sm-1 mb-2">
          <input [@flyFromLeft]="'in'" type="text" class="form-control" #customUrl placeholder="Steam Profile Url or Steam64 ID">
        </div>
        <input [@flyFromRight]="'in'" type="button" class="btn btn-dark mb-2" (click)="searchCustom(customUrl.value); customUrl.value='';" value="check"/>
      </form>
    </div>
  </div>
</div>
