<div class="center-text d-none d-sm-block">
  <div class= "contents">
    <div [@title]="'in'" class="inner">
      <strong>{{ title }}</strong>
    </div>
  </div>
</div>

<div class="center-text d-block d-sm-none">
  <div class= "">
    <div class="inner">
      <strong>{{ title }}</strong>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-xs-12 text-center">
    <form class="form-group search-form" (submit)="searchCustom()">
      <input [@flyFromLeft]="'in'" type="text" class="form-control" name="userSearchText" [(ngModel)]="userSearchText" placeholder="Steam Profile Link or Steam64ID" id="search-text">
      <span [@flyFromRight]="'in'" (click)="searchCustom()"><i class="fa fa-search"></i></span>
    </form>
  </div>
</div>
