<div class="container-fluid">
  <div class="row searchRow">
    <div class="col-md-5 offset-md-4">
      <div class="row">
        <form class="form-inline" (ngSubmit)="search(steam64id.value); steam64id.value='';" #steam64idForm="ngForm">
          <div class="form-group mx-sm-1 mb-2">
              <input type="text" class="form-control" #steam64id placeholder="Steam64 ID">
          </div>
          <input type="button" class="btn btn-primary mb-2" (click)="search(steam64id.value); steam64id.value='';" value="check"/>
        </form>
        <div class="form-group mx-sm-2 mb-2">
        </div>
        <form class="form-inline" (ngSubmit)="searchCustom(customUrl.value);" #customUrlForm="ngForm">
          <div class="form-group mx-sm-1 mb-2">
            <input type="text" class="form-control" #customUrl placeholder="Custom Url">
          </div>
          <input type="button" class="btn btn-primary mb-2" (click)="searchCustom(customUrl.value); customUrl.value='';" value="check"/>
        </form>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div *ngIf="searchCustom_error" class="user-summary-row col-md-6 userStat-container">
      {{searchCustom_error}}
    </div>
    <div *ngIf="error" class="user-summary-row col-md-6 userStat-container">
      {{error}}
    </div>
    <div class="col-md-4" *ngIf="userSummary && searchCustom_response">
      <div class="row user-summary-row justify-content-center">
        <div class="profile-picture col-md-auto">
              <a href="{{userSummary.profile_url}}" target="_blank">
                  <img class="userSummary-image" src="{{userSummary.avatar}}">
              </a>
          </div>
          <div class="col-md-5 userSummary-text">
            <div>
              <p class="profile-name"> {{userSummary.display_name}}
              </p>
            </div>
            <div>
              <p class="profile-text"> Steam64ID : {{userSummary.steam64_id}}
              </p>
            </div>
            <div>
              <a class="profile_link" href="{{userSummary.profile_url}}" target="_blank">{{userSummary.profile_url}}
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="userStats">
      <nav class="col-md-6">
        <a [ngClass]="{'selected-tab': currentTab==0, 'not-selected-tab': currentTab!=0}" (click)="showTab(0)">General</a>
        <a [ngClass]="{'selected-tab': currentTab==1, 'not-selected-tab': currentTab!=1}" (click)="showTab(1)">Top Games</a>
        <a [ngClass]="{'selected-tab': currentTab==2, 'not-selected-tab': currentTab!=2}" (click)="showTab(2)">Etc.</a>
      </nav>
  </div>

  <div class="row justify-content-center" *ngIf="userStats">
    <div class="col-md-6 userStat-container">
      <div *ngIf="response && currentTab==0" class="userStat-row">
        <div>
          Total play time: {{userStats.playtime_hr}} hours and {{userStats.playtime_minute}} minutes
        </div>
        <div class="row2">
          Total play time past 2 weeks: {{userStats.playtime_2week_hr}} hours and {{userStats.playtime_2week_minute}} minutes
        </div>
        <div class="row2">
          You have {{userStats.unplayed_games}} unplayed games out of {{userStats.total_games}} games
        </div>
      </div>

      <div *ngIf="userSummary && !response && searchCustom_response" class="row1">
        Unable to get game stats
      </div>
      <div *ngIf="currentTab==1">
        <div *ngFor="let topGame of topGames; let i=index" class="userStat-row">
          {{i+1}}. Your
          <span *ngIf="i==1">second</span>
          <span *ngIf="i==2">third</span>
          most played game is
          <a href="https://store.steampowered.com/app/{{topGame.most_played_game_appid}}" target="_blank" class="profile_link">
            <img class="rounded-most-played-game-icon" src="{{topGame.most_played_game_icon}}">
            {{topGame.most_played_game_name}}
          </a>
          at {{topGame.most_played_game_time_hr}} hours and {{topGame.most_played_game_time_minute}} minutes
        </div>
      </div>
    </div>
  </div>
</div>

<div id="inline" *ngIf="gameStats && currentTab==1">
  <div class="pie"><p-chart type="pie" [data]="gameStats" ></p-chart></div>
  <div class="bar"><p-chart type="bar" [data]="gameStats" ></p-chart></div>
</div>
