/* You can add global styles to this file, and also import other style files */
body {
  background-color: #a2a8b2;
  padding: 0;
  margin: 0;
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
