<div class="background" *ngIf="!steamData || !data">
  <div class="row justify-content-center">
    currently loading, please wait a moment
  </div>
</div>
<div class="container-fluid background" [ngStyle]="{'background-image' : getBackgroundURL()}" *ngIf="steamData && data">
  <div >
    <div class="row">
      <div class="col-md-12 text-center game-title">
        {{data.name}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="https://store.steampowered.com/app/{{data.appid}}" target="_blank"> <img class="header-image" src="{{steamData.header_image}}"> </a>
      </div>
    </div>

    <div class="table-responsive vertical-gap">
      <table class="table table-bordered table-width">
        <thead>
        </thead>
        <tbody>
          <tr class="d-flex">
            <td class="col-6">Steam Appid</td>
            <td class="col-6">{{data.appid}}</td>
          </tr>
          <tr class="d-flex">
            <td class="col-6">Developers</td>
            <td class="col-6">{{getDevelopers()}}</td>
          </tr>
          <tr class="d-flex">
            <td class="col-6">Publishers</td>
            <td class="col-6">{{getPublishers()}}</td>
          </tr>
          <tr class="d-flex" *ngIf="steamData.metacritic">
            <td class="col-6">Meta Critic Score</td>
            <td class="col-6">{{steamData.metacritic.score}}</td>
          </tr>
          <tr class="d-flex">
            <td class="col-6">Release Date</td>
            <td class="col-6">{{steamData.release_date.date}}</td>
          </tr>
          <tr class="d-flex" *ngIf="steamData.price_overview">
            <td class="col-6">Current Price</td>
            <td class="col-6">${{steamData.price_overview.final / 100}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row justify-content-center vertical-gap">
      <p-chart class="playerCountChart d-none d-lg-block" type="line" [data]="playerStats" [options]="playerStatsOptions"></p-chart>
    </div>
  </div>
</div>
